/* =================== google font css start ================== */
.poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.thin {
  font-weight: 100;
}
.extralight {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extrabold {
  font-weight: 800;
}
.black {
  font-weight: 900;
}

/* =================== google font css end ================== */

/* =================== common css start ================== */
ul {
  padding: 0px;
}
li {
  list-style: none;
}
:root {
  --primary_color: #ffffff;
  --secondary_color: #f40404;
}
a {
  color: var(--primary_color) !important;
  text-decoration: none;
}
.x_btn {
  background-color: var(--secondary_color);
  padding: 13px 32px;
  border: 1px solid var(--primary_color);
  font-size: 18px;
  font-weight: 600;
}
.flex{
  display: flex;
}
/* =================== common css end ================== */

/* =================== navbar css start ================== */
nav {
  background-color: rgba(244, 4, 4, 1);
  width: 100%;
}
.navbar-brand img {
  width: 192px;
  height: 44px;
  margin-right: 274px;
}
.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary_color) !important;
}
.navbar-nav {
  gap: 47px;
}
/* =================== navbar css end ================== */

/* =================== banner css start ================== */
#banner {
  background: url("./imeges/banner.png") no-repeat center ;
  background-size: cover;
  background-blend-mode: multiply;
  padding-top: 257px;
  padding-bottom: 258px;
  margin-top: 16px;
}
.banner_content {
  width: 842px;
}
.banner_content h1 {
  font-size: 64px;
  color: var(--primary_color);
  margin-bottom: 31px;
}

.banner_btn .x_btn {
  padding: 13px 41px;
  border: none;
  display: inline-block;
}
/* =================== banner css end ================== */


/* =================== sypply css start ================== */
#supply{
  padding-top: 78px;
  padding-bottom: 100px;
}
.supply_content{
  display: flex;
  gap: 172px;
  align-items: center;
  justify-content: center;
}
.supply_content h2{
  width: 289px;
  font-size: 48px;
  color: #000000;
  line-height: 72px;
}
.supply_content p{
  width: 651px;
  font-size: 16px;
  color: #6C6C6C;
}
/* =================== supply css end ================== */


/* =================== imagess css start ================== */
#iamgess{
  margin-bottom: 28px;
}
.imegess_content img{
  width: 310px;
}
/* =================== imagess css end ================== */


/* =================== services css start ================== */
.services_left {
  margin-top: 124px;
}
.services_left h1{
  font-size: 64px;
  color: #000000;
  text-align: center;
}
.services_left p{
  font-size: 16px;
  color: #6C6C6C;
  width: 405px;
  margin: auto;

}
.services_right{
  background: url("./imeges/services_one.png") rgb(10, 9, 13, 0.6) no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  padding-top: 147px;
  padding-bottom: 139px;
  padding-left: 80px;
  padding-right: 100px;
}
.services_right h3{
  font-size: 36px;
  color: var(--primary_color);
  margin-bottom: 40px;
}
.services_btn .x_btn{
  border: none;
}
.services_bottom_right{
  background: url("/imeges/services_two.png")  rgb(10, 9, 13, 0.6) no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  padding-top: 147px;
  padding-bottom: 139px;
  padding-left: 80px;
  padding-right: 100px;
}
.services_bottom_right h3{
  font-size: 36px;
  color: var(--primary_color);
  margin-bottom: 40px;
}
.services_bottom_right .x_btn{
  border: none;
}
.services_bottom_left{
  background: url("/imeges/services_three.png")  rgb(10, 9, 13, 0.6) no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  padding-top: 147px;
  padding-bottom: 139px;
  padding-left: 80px;
  padding-right: 100px;
}
.services_bottom_left h3{
  font-size: 36px;
  color: var(--primary_color);
  margin-bottom: 40px;
}
.services_bottom_left .x_btn{
  border: none;
}
/* =================== services css end ================== */


/* =================== learn css start ================== */
#learn{
  padding: 136px 0px;
}
.learn_main{
  justify-content: center;
}
.learn_content{
  background-color: var(--secondary_color);
  padding: 100px 74px;
}
.learn_content h3{
  font-size: 36px;
  color: var(--primary_color);
  width: 262px;
}
.learn_btn .x_btn{
  /* color: var(--secondary_color); */
  background-color: var(--primary_color);
}
.learn_btn{
  background: url("./imeges/learn.png");
  margin: auto;
  padding: 142px 168px;
}
/* =================== learn css end ================== */
